* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: #171717;
}

header {
    margin: 25px;
    display: flex;
    background-color: #333333;
    border-radius: 50px;
}
.h1-header {
    font-size: 20px;
    margin: 12px 900px 10px 200px;
    color:  #F9F9F9;
    
}
a {
    color:  #F9F9F9;
    padding: 15px;
}
.div-links {
    display: flex;
    align-items: center;
}

main {
    display: flex;
}
button {
     width: 150px;
     height: 50px;
     margin: 20px 15px;
     border: none;
     background-color: #00DF5E;
     color: #F9F9F9;
     cursor: pointer;
     overflow: hidden;
     transition: 1s all ease;
}
.button-phone {
    background-color: #333333;
    border: 2px solid   #222;
}
button:hover {
    opacity: 0.5;
}
button:active {
    width: 30%;
    background: #828282;
    opacity: 0.3;
}
.h1-name {
    margin-top: 70px;
    font-size: 25px;
    color: #F9F9F9;
}
.div-main {
    margin: 20px 10px 10px 400px; 
}
.front-end{
    color:  #828282;
    margin: 15px;
}
.jean-rocha {
    width: 250px;
    border-radius: 50%;
    margin: 25px;
}
.div-img {
    display: flex;
    align-items: center;
    margin-left: 300px;
    flex-grow: 1;
}
p{
    color: #F9F9F9;
    font-family: 'Kalam', cursive;
}
.about-me {
    text-align: center;
    margin: 15px 500px;
    font-size: 15px;
}
.h1-me {
    text-align: center;
    color: #F9F9F9;
}

.contats {
    display: flex;
    margin: 100px 500px; 
    justify-content: space-around;
}
.linkedin {
    width: 32px;
}
.github {
    width: 32px;
}
h2 {
    color:  #828282;
    font-size: 15px;
}
.pcontats {
    font-size: 12px;
}

.sec-pro {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    flex-flow: row wrap;
}
    


.h1-pro {
    color: #F9F9F9;
    text-align: center;
}

.tecnologs{
    color:  #828282;
    font-size: 16px;
}
h3 {
    color: #F9F9F9;
    font-size: 18px;
}
.project1{
    width: 300px;
    margin: 30px 50px;
    background: #333333;
    border-radius: 5px;
    padding: 0 0 20px 15px;
    border-bottom: 5px solid #00DF5E ;

}
.img {
    width: 250px;
    height: 150px;
    margin: 10px;
}


.myskills {
    display: flex;
    justify-content: center;
}

.csites{
    width: 300px;
    margin: 30px 50px;
    background: #333333;
    border-radius: 5px;
    padding: 0 0 20px 20px;
    border-bottom: 5px solid #00DF5E ;
   
}
.code {
    width: 50px;
    margin: 10px 30px 50px 5px;
}
h4{
    color: #F9F9F9;
    font-size: 20px;
    text-align: center;
}

.tecnos {
    width: 150px;
    margin: 30px 50px;
    background: #333333;
    border-radius: 5px;
    padding: 0 0 20px 20px;
    border-bottom: 5px solid #00DF5E ;
}

.icons {
    margin: 20px 15px;
}

@media screen and (max-width: 1024px) {
    .h1-header {
        font-size: 20px;
        margin: 12px 100px 10px 25px;
        color:  #F9F9F9;
        
    }
    .div-main {
        margin: 20px 10px;
    }
    .div-img {
        margin-left: 20px;
    }
    .about-me {
        text-align: center;
        margin: 15px 100px;
        font-size: 15px;
    }
 
}